*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(248, 167, 60, 0.795);
    width: 100vw;
    height: 100vh;
}
.caixa-intrucao{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    margin: 5px;
    width: 40%;
}
#caixa{
    width: 40vw;
    height: 45vh;
    border-radius: 5px;
    background-color: rgb(167, 110, 4);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
button{
    width: 80%;
    height: 30px;
    margin: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 10px;
}
input{
    width: 80%;
    height: 8%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 10px 0px;
    padding: 5px;
    font-size: max(12px, 1vw);
}
#resultado{
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(248, 167, 60);
    color: aliceblue;
    font-size: max(12px, 1vw);
    margin: 10px 0px;
}